<div class="header">
  <h2>Каталог курсов</h2>
  <button mat-raised-button (click)="goToProfile()">Личный кабинет</button>
</div>

<div class="filters flex flex-row gap-2">
  <mat-form-field>
    <mat-label>Поиск курсов</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Поиск по всем полям..."
      #input
      class="filter"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Тема</mat-label>
    <mat-select [value]="selectedTheme ?? ''" (selectionChange)="onThemeChange($event.value)">
      <mat-option value="">Все темы</mat-option>
      @for (theme of themeOptions; track theme) {
        <mat-option [value]="theme">{{ theme }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Сложность</mat-label>
    <mat-select [value]="selectedLevel ?? ''" (selectionChange)="onLevelChange($event.value)">
      <mat-option value="">Все уровни</mat-option>
      @for (level of levelOptions; track level) {
        <mat-option [value]="level">{{ level }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Язык</mat-label>
    <mat-select [value]="selectedLanguage ?? ''" (selectionChange)="onLanguageChange($event.value)">
      <mat-option value="">Все языки</mat-option>
      @for (lang of languageOptions; track lang) {
        <mat-option [value]="lang">{{ lang }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="container">


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Название курса -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название курса </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Категория -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Категория </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!-- Рейтинг -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Рейтинг </th>
      <td mat-cell *matCellDef="let element"> {{element.rate}}/5 </td>
    </ng-container>

    <!-- Автор -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Автор </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="openCourse(row.id)"
      class="clickable-row"
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Не найдено курсов по запросу "{{input.value}}"
      </td>
    </tr>
  </table>
</div>