.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;

  h2 {
    margin: 0;
  }
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.clickable-row {
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}


