.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px;
}

.clickable-row {
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}


